PORT=

# frontend url
APP_ORIGIN=

# database connection string
# get yours from: https://www.mongodb.com
MONGODB_URI=

# redis credentials for otp
# get yours from: https://redis.io
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

# jwt secret and expiry
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=

# gmail  and app password for sending otp
# get yours from: https://accounts.google.com
SMTP_USER=
SMTP_PASS=

# for storeing user avatars
# get yours from: https://cloudinary.com
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
